/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/
/* Border-box-sizing */
.b-g, .block, .b-g:after, .block:after, .b-g:before, .block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix */
.b-g {
  *zoom: 1;
}
.b-g:before, .b-g:after {
  display: table;
  content: "";
  line-height: 0;
}
.b-g:after {
  clear: both;
}

.b-g {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Nested grid */
.b-g > .b-g {
  clear: none;
  float: left;
  margin: 0 !important;
}

/* Default block */
.block {
  float: left;
  width: 100%;
}

